@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700&display=swap');

body{
  font-family: 'Ubuntu', sans-serif;
  font-weight:300;
}

a{
  color:#222222;
}

a:hover{
  text-decoration: none;
}

a.neutral-link{
  font-weight: 700;
  color:#1ebbd7!important;
}

.white{
  color:#fff;
}

.blue{
  color: #34c1db;
}

.title{
  font-weight:700;
  font-size:34px;
}

.space{
  display: block;
  clear: both;
}

.space.sm{
  height:20px;
}

.space.md{
  height:40px;
}
/* navbar */
.navbar{
  width:100%;
  display:flex;
  margin-top:40px;
}

.navbar .logo{
  
}

.navbar .logo img{
  width: 60px;
}

.navbar .navbar-content ul{
  list-style: none;
  margin-top: 20px;
  padding: 0;
}

.navbar .navbar-content ul li{
  display: inline-block;
  margin: auto 20px;
}

.navbar .navbar-content ul li a:hover{
  transition: 0.2s ease-in;
  color:#1ebbd7;
}

.button{
  display: inline-block;
  padding: 10px 18px;
  border-radius:20px;
  text-align: center;
  width:150px;
  height: 44px;
  transform: translateY(-2px);
}

.button.blue{
  color:#fff;
  font-weight: 700;
  background: #1ebbd7; 
  background: -moz-linear-gradient(left,  #1ebbd7 1%, #34c1db 99%);
  background: -webkit-linear-gradient(left,  #1ebbd7 1%,#34c1db 99%);
  background: linear-gradient(to right,  #1ebbd7 1%,#34c1db 99%); 
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1ebbd7', endColorstr='#34c1db',GradientType=1 ); 

  box-shadow: 0px 4px 8px rgba(24,154,211,0.2);
}

.button.blue:hover{
  transition: 0.2s ease-in-out;
  background: #34c1db;
  box-shadow: 0px 2px 3px rgba(24,154,211,0.7);
  transform: translateY(0px);
}

/* home */

.home{
  height:100vh;
}

.home-content {
  margin-top: 120px;
}

.home-title{
  font-size:120px;
  font-weight: 500;
}
/* #home */

/* resume */
.resume-left-content{
  display: block;
  position:relative;
  background:#34c1db;
  width:80%;
  padding:60px;
  border-radius:20px;
}

.resume{
  position: relative;
}

.resume-left-content  .description{
  font-size:20px;
  width: 50%;
}

.resume-right-content{
  display: flex;
  width: 450px;
  justify-content: center;
  align-items: center;
  height: 300px;
  color:rgb(71, 71, 71);
  font-size:30px;
  right:0;
  bottom:30px;
  position: absolute;
  background: #fff;
  box-shadow: -2px 5px 13px rgba(0, 0, 0, 0.15);
  border-radius:20px;
}

.resume-right-content .description{
  text-align: center;
  font-weight: 600;
}
/* #resume */

/* chapters */

.chapters-section{
  padding:80px 0px;
}

.chapters-section .chapter-descriptio .icon{
  background: #1ebbd7;
  height: 40px;
  width:40pc;
  border-radius: 3px;
}

.chapters-section .chapter-descriptio{

}

/* #chapters  */